@model ApplicationUserModel



<div class=" px-3 pt-3 pb-1 row">

    <div class="card-body px-3 pt-3 pb-1 row">
        <div class="col-6">

            <div class="card-body px-2 pt-2 pb-1 row">
                <div class=" text-center w-100"><label class="h1 text-center w-100" >@Model.Character.CharacterName </label></div>
            </div>

            <div class="card-body px-2 pt-2 pb-1 col">
                <div class=""><span class="badge p-3 border w-100  ">Job: @Model.Character.Job</span> </div>
                <div class=""><span class="badge p-3 border w-100  ">Level: @Model.Character.Level</span> </div>
                <div class=""><span class="badge p-3 border w-100  ">Strength: @Model.Character.Strength</span> </div>
                <div><span class="badge p-3 border w-100 " style="background-color:lavenderblush">Health: @Model.Character.Health</span></div>
                <div><span class="badge p-3 border w-100" style="background-color:lightyellow">Golden Coins: @Model.Character.GoldenCoins</span></div>
            </div>
        </div>

            <div class="col-6 ">
                @if (Model.Character.Job == "Knight")
                {
                    <img class="card-img-top img-fluid d-block mx-auto mb-3" style="width:250px; height:350px" src="@Consts.ImagePath@Consts.KnightImg" alt="Card image cap">
                }
                else if (Model.Character.Job == "Archer")
                {
                    <img class="card-img-top img-fluid d-block mx-auto mb-3" style="width:250px; height:350px" src="@Consts.ImagePath@Consts.ArcherImg" alt="Card image cap">
                }
                else if (Model.Character.Job == "Mage")
                {
                    <img class="card-img-top img-fluid d-block mx-auto mb-3" style="width:250px; height:350px" src="@Consts.ImagePath@Consts.MageImg" alt="Card image cap">
                }

            </div>
        </div>





    </div>




